**July 10th 2024**

In [4]:
l=[i*i for i in range(1,10)]
print(f"Squares list :{l}")

Squares list :[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
################Basis
1)Variables
2)Data types
3)Type-conversion
4)print
5)eval 
6)packages
7)Conditional stmts
8)Try and exception
9)for loop
10)while loop


----------------------Intermediate part
11)Strings
12)Lists
13)Dictionary
14)Tuples(You will do this)
15)Sets
16)Lambda functions
17)File handling session

--------------------Advanced
18) Oops

In [ ]:
===================================Part-1===================================
- Intialization

- type

- len

- max

- min

- sorted

- reversed

- in 

- for loop

- index

- for loop using index

- mutable

- concatenation

#=========================Part -2===================================

- methods

**Intialization**

In [1]:
str1='python'
str1

'python'

In [6]:
str2="Python"
str2

'Python'

In [7]:
print(str1)
print(str2)# Do not confuse I am not seeing the quotes

python
Python

**Note**

- If we mention single quotes or double quotes by default python provides in single quotes only 

- If we print the strings ,we will see answer without quotes

**Triple quotes**

In [9]:
str3="""Hi hoe are you?
        I am good """
str3

'Hi hoe are you?\n        I am good '

**Note**

- If we mention single quotes or double quotes by default python provides in single quotes only 

- If we print the strings ,we will see answer without quotes

- Triple quotes are using for doc string

- In order to convey the information about coding part we will use doc 

- anything inside the single or doublequotes is considered as a string in python

**type**

In [10]:
type(str1) # type is string type

str

In [14]:
str4='10'     # integer value in the form of string 
str5='0.9'     # float value in the form of string
str6='123abc'  # Alpha numeric in the form of string
str7='True'    # boolean in the form of string
str8='sinx'   

# All are in quotes,means in red color : strings

**len**

In [12]:
str1='python'
len(str1)

6

In [13]:
str9='Data science'
len(str9)

12

**max and min**

In [20]:
max(str1)
ord('p')

'y'

In [26]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n'),ord(' ')

(112, 121, 116, 104, 111, 110, 32)

In [25]:
min(str1)

'h'

**Keywords Vs Methods**

- we can use keywords directly but for methode we need to use packages


- type(<>)


- print(<>)

- len(<>)

- max(<>)

- min(<>)

- eval(<>)

- input(<>)

- sum(<>)

In [ ]:
- inorder to use methods we need to call packages

import random
random.randint()

import math
math.sqrt()

import time
time.sleep()

In [31]:
str1='python'
max(str1)

'y'

**Sum**

In [30]:
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
'p'+'y'

'py'

In [39]:
sum([1,2,3])

6

**sorted**

In [42]:
len('python')
max('python')
print('python')
min('python')

python

'h'

In [43]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

- sorted gives ascending order based on ASCII numbers

- sorted is kind of a function

- Every function we have arguments

- In that one default argument is **reverse=False**

- By default sorted output gives **ascending order**

- we can change the order, by providing **reverse=True**

- **If we do not mention,it will give the dafault answer**

In [ ]:
sorted()

In [46]:
str1='python'
sorted(str1,reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [50]:
complex() #0+0j=='0' has no value ,so we get only imaginary value ==> 0j
# complex will have default values

0j

In [48]:
complex(real=10,imag=9)

(10+9j)

In [49]:
complex(real=8,imag=6)

(8+6j)

In [51]:
complex(10,9)

(10+9j)

In [52]:
import random
random.randint()
# we need to provide the values

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
function() # Ans 
function(a,b)# This might return error, if we don't give the values of a,b
function(a=10,b=9)# Ans

In [ ]:
random.random() # we will get answer but answer is not in your hands

In [53]:
import random
random.randint(10,20) # Answer we can change

12

In [54]:
complex()  # By default 0,0

0j

In [55]:
complex(10,29)

(10+29j)

In [62]:
sorted(iterable='python')

TypeError: sorted expected 1 argument, got 0

In [59]:
random.randint(a=10,b=20)

16

In [60]:
random.randint(20,40)

33

In [ ]:
sorted('python')
sorted('python',reverse=True)

- We have arguments before / and after slash

- we can use arguments names after / only

- For  example sorted has two arguments one is iterable and another one is reverse

- iterable is mentioned before / symbol

- reverse is mentioned after / symbol

- so we can only use reverse argument name while we are doing the work 

- we can not use iterable argument name

- Instead of using iterable name,we can provide direct value at that position

**reversed**

In [67]:
s='python'
reversed('python')

- I already done my work

- Your output is stored in that memory location

- Whenever you see this kind of answer less than and greater than symbol or memory

- use for loop to see the answer

In [71]:
str1='azycd'
output=reversed(str1)
for i in output:
    print(i)

d
c
y
z
a

In [70]:
sorted('azycd')

['a', 'c', 'd', 'y', 'z']

**11/7/2024**

In [ ]:
type(<value>)
eval(<value>)
input(<value>)
max(<value>)
min(<value>)
len()
sum()
sorted()
reversed()

In [1]:
#sorted
# It will provide the values either ascending or descending

sorted('nareh') #Ascennding or desending

# when I run this it will give one answer
# The function has dafault behaviour : ascending

# How this default mentioned
# we need to understand about arguments

['a', 'e', 'h', 'n', 'r', 's']

In [5]:
sorted('naresh',True)

# iterable
# key
# reverse

TypeError: sorted expected 1 argument, got 2

In [7]:
def average(a,b,c):
    avg=((a+b+c)/3)
    print(avg)
averge(10,20)

NameError: name 'averge' is not defined

In [6]:
sorted('naresh',reverse=True)

['s', 'r', 'n', 'h', 'e', 'a']

In [8]:
for i in reversed('naresh'):
    print(i)

h
s
e
r
a
n

In [9]:
sorted([1,10,20,2,30])

# 1,2,10,20,30( ascneding order - default one)
# 30,20,10,2,1

[1, 2, 10, 20, 30]

**in**

In [10]:
str1='naresh'
'n' in str1

True

In [11]:
'n' not in str1

False

In [12]:
'nn' in str1

False

In [13]:
for i in str1:
    print(i)

n
a
r
e
s
h

**Note**

- In operator directly access the letters

In [ ]:
# Wap ask the user count how many 'a' are present in a given string 
# str1='hai naresh how are you'

# idea
# step-1 : count=0
# step-2 : using for loop in operator iterate through given string
# step-3 : apply using if condition,whenever the letter equal to 'a'
# step-4 : count=count+1

In [16]:
str1='hai naresh how are you'
count=0
for i in str1:
    if i == 'a':
        count+=1
print(f"The number of 'a' in given string :{count}")

# step-1: i='h'  if 'h'=='a'    False
# step-2: i='a'  if 'a'=='a' T   count=0+==1
# step-3: i='i'  if 'i'=='a' F  count=1
#

#step-3

The number of 'a' in given string :3

In [ ]:
#wap ask the user how many vowels are there in the given string
# str1='hai naresh how are you'
#ans=9

In [19]:
str1='hai naresh how are you'
count=0
vowel='aeiou'
for i in str1:
    if i in vowel:    # if i in 'aeiou':
        count+=1
print(f"No. vowels are :{count}")


# step-1: i=='h' if 'h' in aeiou False
# step-2: i=='a' if 'a' in aeiou True

No. vowels are :9

In [ ]:
#Q3) home work qn
# str1='hai naresh how are you'
# Repeated vowels are there
# We donot want repeated vowels
# Count the vowels avoid the repeatition: Unique vowels

# step -1: Count=0
# step-2: Take one more string : ex:str2=''
# step-3: using for loop in operator iterate through given string
# step-4: condition-1  That letter should not available in s2
# step-5:        condirtion-2: vowel cjheck condition
# step-6:                   count+=1
# step-6:                 update s2=s2+i

In [21]:
str1='hai naresh how are you'
str2=''
count=0
for i in str1:
    if i in 'aeiou':
        if i not in str2:
            str2+=i
            count+=1
print(str2)
print(count)

aieou
5

**How to update empty strings**

In [22]:
s1='python'
s2=''

for i in s1:
    s2=s2+i    #Concatenation

s2

'python'

**Concatenation**

In [27]:
s1='Hello'
s2='bye'
s1+s2

'Hellobye'

In [29]:
s1='Hello'
s2='bye'
s1+' '+s2

'Hello bye'

In [30]:
s1='Hello'
s2=' bye'
s1+s2

'Hello bye'

In [31]:
s1='Hello'
s2=' '
s3='bye'
s1+s2+s3

'Hello bye'

In [33]:
s1='Hello'
s2='bye'
s3=' '
s4=s1+s3+s2
print(s4)

Hello bye

In [35]:
s1='Hello'
s2='bye'
print(s1*s2)
s1/s2
s1-s2

TypeError: can't multiply sequence by non-int of type 'str'

In [36]:
s1='Hello'
s2='bye'
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [37]:
s1='Hello'
s2='bye'
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
#s1-s2: can't multiply sequence by non-int of type 'str'

# s1-s2 : unsupported operand type(s) for -: 'str' and 'str'

#s1/s2:  unsupported operand type(s) for /: 'str' and 'str'

In [38]:
s1='Hello'
s2=2
s1*s2

'HelloHello'

In [ ]:
s1+s1 ===> s1*2

**Index**

- Index meaning a number attached to a letter

- In python index starts with zero

- We have two directions

    - Positive direction

        - Positive numbers starts with zero
 
     - Negative direction
 
         - Negative numbers starts with -1 ,applicable to last letter

In [ ]:
s1='python'


-6 -5 -4  -3 -2 -1 ======> negative
 p   y  t  h  o  n
 0   1  2  3  4  5  ======> positiv e

In [40]:
# Accessing the letters
s1='python'
s1[0],s1[1],s1[2],s1[3],s1[4],s1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [41]:
s1='python'
s1[-1],s1[-2],s1[-3],s1[-4],s1[-5],s1[-6]

('n', 'o', 'h', 't', 'y', 'p')

**12th july**

**mutable-immutable**

- mutable can change

  - we can change using indexing

- immutable can not change

  - we can not change using indexing

In [11]:
s='welcome'   #welcome
# I want to replace 'l' with 'L'
#Possible
#Not possible
s[2]='L'

TypeError: 'str' object does not support item assignment

**Strings are immutable**

In [12]:
l=[1,2,3,4]       #2=200
l[1]=200
l

[1, 200, 3, 4]

In [ ]:
s='welcome'
s[2]='L'
#############################################
l=[1,2,3,4]       #2=200
l[1]=200
l

- range belongs to which family

  - Math family

- inside range bracket what we need to provide

    - number

- How many numbers we need to provide

   - Number of letter: len(string)

- How to access the letter using number

  - by using index

In [1]:
s='welcome'
for i in range(7):
    print(s[i])

w
e
l
c
o
m
e

In [2]:
s='welcome'
n=len(s)
for i in range(n):
    print(s[i])

w
e
l
c
o
m
e

- **for-in** directly access the letter

- **for-range** will access using the inedex

In [6]:
s="Hema"
n=len(s)
for i in s:
    print(i)
for i in range(n):
    print(i,end='')

H
e
m
a
0123

In [ ]:
# Q5) wap ask the user iterate using a string
#string=welcome
# print the positive index of w is 0
# print the positive index of e is 1

In [8]:
str1="welcome"
n=len(str1)
for i in range(n):
    print(f"The positive indexof {str1[i]} is {i}")

The positive indexof w is 0
The positive indexof e is 1
The positive indexof l is 2
The positive indexof c is 3
The positive indexof o is 4
The positive indexof m is 5
The positive indexof e is 6

In [19]:
str1="welcome"
n=len(str1)
for i in range(-n,0):
    print(f"The positive indexof {str1[i]} is {i}")

The positive indexof w is -7
The positive indexof e is -6
The positive indexof l is -5
The positive indexof c is -4
The positive indexof o is -3
The positive indexof m is -2
The positive indexof e is -1

In [20]:
#0 -7  == -7
# 1-7=== -6
# 2-7 == -5
# 3-7 === -4
# 4-7 === -3

str1="welcome"
n=len(str1)
for i in range(n):
    print(i-n)

-7
-6
-5
-4
-3
-2
-1

In [23]:
str1="welcome"
n=len(str1)
for i in range(n):
    print(f"The positive index of {i} and the negative index {i-n} for {str1[i]} ")

The positive index of 0 and the negative index -7 for w
The positive index of 1 and the negative index -6 for e
The positive index of 2 and the negative index -5 for l
The positive index of 3 and the negative index -4 for c
The positive index of 4 and the negative index -3 for o
The positive index of 5 and the negative index -2 for m
The positive index of 6 and the negative index -1 for e

In [ ]:
#Q8) wap ask the user get the index of each 'a' in a given string 
# s= "Hai how are you I am good"

In [30]:
s= "Hai how are you I am good"
print("'a' is present at")
for i in  range(len(s)):
    if s[i]=='a':
       print(f"{i}",end=' ')

'a' is present at
1 8 18

In [32]:
s= "Hai how are you I am good"
count=0
for i in  range(len(s)):
    if s[i]=='a':
       count+=1
print(f"The no. of 'a's in '{s}' are {count}")

The no. of 'a's in 'Hai how are you I am good' are 3

In [33]:
s= "Hai how are you I am good"
summ=0
for i in  range(len(s)):
    if s[i]=='a':
       summ=summ+i
print(f"The sum of all index numbers of 'a' is {summ}")

The sum of all index numbers of 'a' is 27

In [38]:
s= "Hai how are you i am good"
s1=''
count=0
for i in range(len(s)):
    if s[i] in 'aeiou':
        s1=s1+s[i]
        count+=1
print(f"The no. of vowels are {count}")
print(f"The vowels present in the given string is '{s1}'")

The no. of vowels are 11
The vowels present in the given string is 'aioaeouiaoo'

In [42]:
s= "Hai how are you i am good"
count=0
for i in range(len(s)):
    if s[i] in 'aeiou':
        print(s[i],end=' ')
        count+=1
print(f"\nThe no. of vowels are {count}")

a i o a e o u i a o o The no. of vowels are 11

In [46]:
s= "Hai how are you i am good"
s1=''
count=0
for i in range(len(s)):
    if s[i] in 'aeiou': # is it a vowel or not??
        if s[i] not in s1:     # if it is not a in s1 then add it to s1
            print(s[i],end=' ')
            s1=s1+s[i]
            count+=1
print(f"\nThe no. of vowels are {count}")
print(f"The vowels present in the given string is '{s1}'")

a i o e u
The no. of vowels are 5
The vowels present in the given string is 'aioeu'

In [47]:
# updated one
s= "Hai how are you i am good"
s1=''
count=0
for i in range(len(s)):
        if s[i] not in s1 and s[i] in 'aeiou':     # if it is not a in s1 then add it to s1
            print(s[i],end=' ')
            s1=s1+s[i]
            count+=1
print(f"\nThe no. of vowels are {count}")
print(f"The vowels present in the given string is '{s1}'")

a i o e u
The no. of vowels are 5
The vowels present in the given string is 'aioeu'

In [ ]:
# Q14) string1="ola ola ola"
# print no. of ola=3

#Q15) string1='hello hello hello how how how how are you ?"
# wt is the most repeated word: how

# Q16) string1='hellooooo how are u'
# wt is the maximum length of the word : hellooooo
# wt is the minimum length of the word : u

In [49]:
sorted('hello')
# sort the word without using sorted method

104

In [65]:
string1="ola ola ola"
w1=''
n=len(string1)
count=0
for i in range(n):
    if string1[i] == ' ':
        count=count+1
print(f"The no. of ola:{count+1}")

The no. of ola:3

In [ ]:
#Q15) string1='hello hello hello how how how how are you ?"
# wt is the most repeated word: how

In [38]:
string1='helloooo how are u'
s2=''
max,min=0,len(string1)
max_str,min_str='',''
for i in string1:
    if i == ' '  :
         if max < len(s2):
            max,max_str=len(s2),s2
         if min > len(s2):
            min,min_str=len(s2),s2
         s2=''
    else:s2=s2+i
if len(s2) > max:
    ax,max_str=len(s2),s2
if min > len(s2):
    min,min_str=len(s2),s2    
print(f"\nThe max string is '{max_str}' with length {max}")
print(f"\nThe min string is '{min_str}' with length {min}")

The max string is 'helloooo' with length 8

The min string is 'u' with length 1

In [24]:
#Q15) string1='hello hello hello how how how how are you ?"
# wt is the most repeated word: how

In [10]:
s='python'
s2,reversed_str,semi_reversed_str='','',''
min=ord(s[0])
n= len(s)
while n>0:
    for i in s:
        if min > ord(i):
            min=ord(i)
            semi_reversed_str+=i
            print(f"Semi reversed :{semi_reversed_str}")
        else:
            s2+=i
    s=s2
    s2=''
    n=len(s)
    if  n==1:
        reversed_str+=s
        break
print(f"Reversed str:{reversed_str}")

Semi reversed :h

KeyboardInterrupt:

In [39]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

**15th july 2024**

- Slice

- we can cut inti pieces

- similar to range concept

- start,stop,step here also

In [1]:
str1='hai how are you'

In [ ]:
-15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4   -3   -2   -1
 h    a    i         h    o    w       a   r   e        y    o    u
 0    1    2    3    4    5   6   7    8   9  10   11   12   13   14

str1[strat:stop:step]

$Pattern-1$

**str1[start:]**

- By default start value = start only

- Last value nithing mentioned means it will go till =last only

- step nothing mentioned means,it is a positive direction increment by 1

In [3]:
str1='hai how are you'
str1[5:]

'ow are you'

In [4]:
str1[-5:]

'e you'

In [5]:
str1[-8:]

' are you'

In [6]:
str1[1:]

'ai how are you'

In [7]:
str1[10:]

'e you'

In [9]:
str1[5:],str1[-10:]

('ow are you', 'ow are you')

In [11]:
str1[14:],str1[-1:]

('u', 'u')

$Pattern-2$

**str1[strat:stop]**

- start value means by default start only

- step is not mentioned positive direction

- last=stop-1

In [15]:
#-15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4   -3   -2   -1
# h    a    i         h    o    w       a   r   e        y    o    u
# 0    1    2    3    4    5   6   7    8   9  10   11   12   13   14
str1[5:14]

'ow are yo'

In [18]:
str1[4:-4]  # positive but diagonal
#start=4
#last=stop-1=-4-1=-5

'how are'

In [17]:
str1[-10:14]

'ow are yo'

In [20]:
str1[5:-14]
#start

''

In [21]:
str1[-5:-14]

''

In [ ]:
str1='hai how are you'
str1[5:14], # works ==> ow are yo
str1[-5:14], # works ==> e yo
str1[5:-14], # not works ===> Negative side (diagonal way)
str1[-5:-14] # Not works ====> Negative side(in straight lone)

In [22]:
str1[5:500]

'ow are you'

**Truncate behaviour**

- when ever string range is repeated , but we provided unlimited number

- string will consider till the range we have

- In the above example our range is only 15 letters

- we provide 500, then we will truncate to till 15 letters only

In [ ]:
#-15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4   -3   -2   -1
# h    a    i         h    o    w       a   r   e        y    o    u
# 0    1    2    3    4    5   6   7    8   9  10   11   12   13   14

In [ ]:
str1[5:500]      # works ===> ow are you
str1[-500:500]  # works ===> hai how are you
str1[-1:500]   # works ===> u
str1[500:]     # empty strings ===> ''
str1[-500:-100] # not in our range

In [25]:
str1[5:500],str1[-500:500],str1[-1:500] ,str1[500:],str1[-500:-100]

('ow are you', 'hai how are you', 'u', '', '')

$Pattern-3$

**str1[start:stop:step]**

- Start value means start only

- if step value positive 

   - last value=stop-1

- if step value negative

    - last value=stop+1

In [ ]:
str2='yeshwanth'

str1[2:13:2]  #P
str1[2:13:-2]   #NP
str1[2:-13:2]   #NP (check)
str1[2:13:-2]   #NP (Check)
str1[-2:-13:-2] #NP(check)
str1[-2:-13:2]  #NP(Check)
str1[-2:-13:-2] #P
str1[13:2:2]    #NP
str1[-13:2:2]   #NP
str1[-13:-2:2]  #P
str1[-13:-2:-2] #NP
str1[-13:2:-2]  #NP

In [17]:
#-15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4   -3   -2   -1
# h    a    i    o     h    o    w       a   r   e        y    o    u
# 0    1    2    3    4    5   6   7    8   9  10   11   12   13   14
str1='hai how are you'
str1[2:-13:-2]

''

In [28]:
str1[2:-13:2],str1[-13:-2:2]

('', 'ihwaey')

In [29]:
str1[:5:-2]  # start value : -1

'uyeaw'

In [32]:
str1[-13:2:2]

''

In [ ]:
str1[:] # Complete String
str1[::] # Complete String
str1[::-1]  # Reverse start value= -1
str1[<start>:5:-2}

**Methods**

- String lists tuple dictionary  every data types has its own methods

- We already seen that packages has different methods

- For example random package : randint method

- Math package : sqrt

- In the same way strings also have methods

- In order to see meythods for packages 

   - we are importing the packages

   - We are applyibg dir

- In the similar way in order to see the methods of strings, we need to apply dir only

In [33]:
# We need to any string inside the dir to get the string methods
dir('')  
#dir('hai')
#str1='apple'
#dir(str1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

- lower

- upper

- capitalize

- casefold

- Title

- center

In [34]:
str1='hai how are you'

**Upper**

In [35]:
str1.upper()

'HAI HOW ARE YOU'

In [44]:
help(str1.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [36]:
str1.lower()

'hai how are you'

In [37]:
str1.capitalize()

'Hai how are you'

In [38]:
str1.casefold()

'hai how are you'

In [39]:
str1.title()

'Hai How Are You'

In [ ]:
# str1='hai how are you'
# o/p="Hai How Are You"
# without using any method
# One more level: iterate each letter apply captialize method
# scratch: ord center

In [22]:
s='hai how are you'
n=len(s)
s2,capitalized='',''
for i in range(0,n):
    if i== 0 or s[i]==' ':
        cap=s[i+1]
        capitalized=cap.capitalize()
        print(capitalized)
        s2=s2+s[i]+capitalized
        i=i+3
    else:
        s2+=s[i]
print(s2)

A
H
A
Y
hAai Hhow Aare Yyou

In [49]:
str1.center(21)

'   hai how are you   '

- center has two arguments

   - width

   - fill char

- original string already : 15 letters

- we want to create a new string with 20 letters

- Remaining 5 letters by default empty

- We can fill with character also

In [50]:
# filling with characters
str1.center(21,'*')

'***hai how are you***'

In [51]:
str1.center

In [18]:
str1.center() # throws an error showing that center must have atleast one argument

TypeError: center expected at least 1 argument, got 0

- upper

- lower

- casefold

- Capitalize

- Center

**Count**

In [ ]:
str1="hai how are you"

In [19]:
count=0
for i in str1:
    if i=='a':
        count+=1
print(count)

2

In [20]:
count(str1)  # wrong way

TypeError: 'int' object is not callable

In [22]:
str1.count  #it is also a function

In [23]:
str1.count()

TypeError: count() takes at least 1 argument (0 given)

In [27]:
str1="hai hello how are you"
str1.count('a')

2

In [28]:
str1='hai hai hai'
str1.count('a')

3

In [ ]:
- We want a from a specific index

- We want number of 'a' between two indexes

In [ ]:
#h  a  i     h  a  i     h  a  i
#0  1  2  3  4  5  6  7  8  9 10

In [30]:
str1.index('a') # we are searching for number of 'a' in all the string
str1.count('a',5)

2

In [31]:
str1.count('a',6)
# we are searching the number of 'a' from index =3 (including 3)

1

In [33]:
str1.count('a',3)

2

In [32]:
# We want number of 'a' between two indexes
str1.count('a',5,9)

1

In [35]:
str1='hai hai hai'
str1.count('a')  # All the 'a'
str1.count('a',5)   # We are searching number of 'a' from index 3
str1.count('a',4,8) # We are searching number of 'a' from index 4 to index 8

1

In [37]:
str1.count('a',-8,-1)

2

In [ ]:
#-11 -10 -9 -8 -
#h  a  i     h  a  i     h  a  i
#0  1  2  3  4  5  6  7  8  9 10

In [96]:
str1='ola ola ola'
s2=''
count=0
for i in str1:
    if i==' ':
        if s2 == 'ola':
            count=count+1
        s2=''
    else:
        s2+=i
if s2=='ola':
    count=count+1
print(f"The number of ola:{count}")

The number of ola:3

**Window method**

In [ ]:
for i in range(len(str1)):
    if str1[i:i+3] == 'ola':
        count=count+1
# step-1: count=0 i=0 str1[0 :3] ==='ola'  True count=1
# step-2:         i=1  str1[1:4] === 'ola'  F

In [47]:
str1='ola ola ola'
str1.count('ola ola ola')

1

In [48]:
str1='ola ola ola'
str1.count('ola ') # we are giving space after ola that why its is giving 2

2

In [52]:
str1='ola ola ola'
str1.count('ola ola')

1

In [53]:
str1.count('z') # options : a) error b) zero c) empty string  d)None of the above
# answer is 0 because it is counting the 'z' if there is no 'z' is present then it gives 0

0

**Replace**

In [ ]:
str1='welcome'
#I want to replace 'l' with 'L'

In [ ]:
# we know that strings are immutable
# we can not use index operations also
# slice and concatenation
# Divide welcome: we   come
# s1='we'
# s2='come'
# s1+L+s2  # not a good idea

In [62]:
s='welcome'
s1=s[0:2]
s2=s[3:]
s3='L'
print(s1+s3+s2)

weLcome

In [63]:
chr(ord('l')-32) #Try this

'L'

In [66]:
str1='welcome'
str1.replace('l','L')

'weLcome'

In [67]:
str1='wellcome'
str1.replace('l','L')

'weLLcome'

- By default replace will change all the occurences

- count=-1 is responsible for that

- which means we can replace some count also ,which many I want to change

- Give welllcome and change count=1 and count=2 explore it

In [76]:
str1='welllcome'
str1.replace('l','L',1)
# when we write count =1
# It will change only one letter
# that to first occurence only

'weLllcome'

In [81]:
# Str1='restart'
# i/p = 'resta$t'

Str1='restart'
s1=Str1[:1]
s2=Str1[1:]
s3=s2.replace('r','$')
s1+s3
# Str1[0]+ Str1[1:].replace('r','$')  ===> my thought
# If we do this model then if the input has 100 letters then it is difficult for us to count

'resta$t'

In [84]:
Str1='restart'  # Smart answer from susmitha
Str1[::-1].replace('r','$',1)[::-1]

'resta$t'

**index-find**

- upper

- lower

- casefold

- title

- capitalize

- count

- replace

- index-find

- split

- strip

- startswith

In [85]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',

In [89]:
str1='HELLO'
str1.isupper()

True

**17 th july**

In [ ]:
**Index**

- index says that it will give the index of any letter in a given strings

- we already seen about count: Count will give how many letters are there in a string

   - at what index you want to count

   - between indexes also we can count the letters

- index meaning it will provide the index

- Imagine that some letters are repeated .

-

In [1]:
str1='hai hai hai'
str1.index('a')
# Return the lowest index in String where Substring sub is found,

1

In [3]:
# I want to know next 'a' index after 3rd index
str1='hai hai hai'
str1.index('a',3)
# After 3rd index the lowest index of a is 5

5

In [4]:
# I want to know next 'a' index after 3rd index
str1='hai hai hai'
str1.index('a',3,7)
# Between 3 and 7  the lowest index of a is 5 only

5

In [11]:
str1.index('a',-9,-1)

# h   a   i         h     a    i         h     a     i

5

In [13]:
str1.index('a',-9,-4)

5

In [14]:
str1.index('a',-9,-6)
# Positive direction

ValueError: substring not found

In [20]:
str1='hai hai hai'
print(str1.count('a'))
print(str1.count('a',3))
print(str1.count('a',3,7))

3
2
1

In [22]:
str1='hai hai hai'
print(str1.index('a'))
print(str1.index('a',3))
print(str1.index('a',3,7))

1
5
5

In [26]:
str1='hai hai hai'
# I want to know all indexes of 'a'
# 
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

1
5
9

In [ ]:
# h

In [28]:
str1='hai hai hai'
i1=str1.index('a')
i1

1

In [31]:
i2=str1.index('a',i1+1)
i2

5

In [33]:
i3=str1.index('a',i2+1)
i3

9

In [55]:
str1='hai hai hai hai'
i1=str1.index('a')
print(i1)
i2=str1.index('a',i1+1)
print(i2)
i3=str1.index('a',i2+1)
print(i3)
i4=str1.index('a',i3+1)
print(i4)
i5=str1.index('a',i4+1)
print(i5)

1
5
9
13

ValueError: substring not found

**find**

In [49]:
str1='hai hai hai'
str1.find('a')

# h  a  i     h   a   i     h  a  i
# 0  1  2  3  4   5   6  7  8  9 10

1

In [54]:
i1=str1.find('a',)
print(i1)
i2=str1.find('a',i1+1)
print(i2)
i3=str1.find('a',i2+1)
print(i3)
i4=str1.find('a',i+31)
print(i4)

1
5
9
-1

In [57]:
str1='hai hai hai'
str1.count('z')

0

In [59]:
str1='hai hai hai'
str1.replace('z','Z')

'hai hai hai'

- If substring not found 

  - Count method will give **0**

  - replace method will give original string

  - index will give **Sub string not found error**

  - find will give **-1**

In [ ]:
str1='omkar.nallagoni@cognizant.com'
# First name= omkar
# second name= nallagoni
# company name= cognizant


#idea: find the triggers
# For first name '.'
# for second name '.' and '@'
# for company name '@' and second

In [70]:
str1=input()
i1=str1.index('.')
i2=str1.index('@')
i3=str1.index('.',i1+1)
print(f"First name:{str1[:i1]}") 
print(f"Second name:{str1[i1+1:i2]}")
print(f"Company name:{str1[i2+1:i3]}")

 kohli.virat@rcb.com

First name:kohli
Second name:virat
Company name:rcb



- upper/lower/casefold

- capitalize/Title

- center

- Count

- Replace

- index/find

- start with is

- split

- strip/lstrip/rstrip

- startswith /endswith